.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#portada {
    height: 100vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    background: url(logo/logo.png) no-repeat;
    background-size: 100% 100%;
}