.puzle_mes{
    background-color: white;
    padding-right: 0;
    padding-left: 0;
}

.texto_mes {
    background-color: #e6e6e6;
}
#selector_de_mes{
    padding-left: 40%;
    padding-right: 40%;
}
#titulo_junio {
    color: #1b6d85;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding-left: 22%;
}
#parrafo_junio{
    color: #1b6d85;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
body{
    background-color: white;
}
#header {
    background: #75ff03;
}
#titulo_marzo {
    margin-top: 90px;
    margin-bottom: 60px;
}
.select-month{
    margin-right: 20%;
}
#select_april {
    margin-right: 15%;
}
#select_may {
    margin-right: 12%;
}
#t_select {
    margin-left: 20px;
    text-align: center;
}
#meses {
    margin-left: -20%;
    margin-right: -20%;
}